.hljs {
    background: #fbfafa;
    border: solid 1px #eee;
    display: block;
    padding: 10px;
    -webkit-border-radius: 1px;
    border-radius: 1px;
    overflow: auto;
}

td > pre {
  padding: 5px 15px;
  margin: 0;
}
