.hljs {
    background: #fbfafa;
    border: solid 1px #eee;
    display: block;
    padding: 10px;
    -webkit-border-radius: 1px;
    border-radius: 1px;
    overflow: auto;
}

td > pre {
  padding: 5px 15px;
  margin: 0;
}

.markdown-content a {
  color: #db4d3f;
  text-decoration: none;
}
.markdown-content a:hover {
  text-decoration: underline;
}
.markdown-content  a:visited {
  color:#b13c2e;
}
