.api-manual-link {
  color: #db4d3f;
  text-decoration: none;
}
.api-manual-link:hover {
  text-decoration: underline;
}
.api-manual-link:visited {
  color:#b13c2e;
}

.ocamldoc {
  padding: 24px 12px 0;
  font-size: 100%;
  line-height: 1.8rem;
}

.ocamldoc div {
  display: block;
}

.ocamldoc pre {
  margin: initial;
  padding: initial;
  /*font-size: initial;*/
  /*line-height: initial;*/
  background: initial;
  border-radius: initial;
  overflow: initial;
  word-wrap: initial;

  font-size: 112.5%;
}

.ocamldoc code {
  font-size: initial;
  line-height: initial;
}

.ocamldoc .keyword {
  color: #aa1094;
}
.ocamldoc .keywordsign {
  color: #c41a16;
}
.ocamldoc .comment {
  color: #006a00;
}
.ocamldoc .constructor {
  color: #5b2f8e;
}
.ocamldoc .type {
  color: #5b2f8e;
}
.ocamldoc .string {
  color: #c41a16;
}
.ocamldoc .warning {
  color: Red;
  font-weight: bold;
}
.ocamldoc .info {
  margin-left: 3em;
  margin-right: 3em;
}
.ocamldoc .param_info {
  margin-top: 4px;
  margin-left: 3em;
  margin-right: 3em;
}
.ocamldoc .code {
  background: #fbfafa;
  border: 1px solid #eee;
  padding: 2px;
  border-radius: 1px;
  overflow: auto;
}
.ocamldoc .typetable {
  border-style: hidden;
  width: auto;
}
.ocamldoc .paramstable {
  border-style: hidden;
  padding: 5pt 5pt;
}
.ocamldoc tr {
  background-color: #ffffff;
}
.ocamldoc td {
  border: none;
  padding: 0;
}
.ocamldoc td.typefieldcomment {
  background-color: #ffffff;
  font-size: smaller;
}
.ocamldoc div.sig_block {
  margin-left: 2em;
}
.ocamldoc *:target {
  background: yellow;
}
.ocamldoc h1,
.ocamldoc h2 {
  margin-bottom: 1.45rem;
  color: inherit;
  font-family: Helvetica Neue, Helvetica, Arial, Lucida Grande, sans-serif;
  font-weight: bold;
  text-rendering: optimizeLegibility;
  font-size: 1.62671rem;
  line-height: 2.175rem;
  border-bottom: 1px solid #aaa;
}
.ocamldoc h3,
.ocamldoc h4,
.ocamldoc h5,
.ocamldoc h6,
.ocamldoc .h7,
.ocamldoc .h8,
.ocamldoc .h9 {
  margin: 0;
  margin-top: 1em;
  margin-bottom: 1rem;
  padding: 0;
  color: inherit;
  font-family: Helvetica Neue, Helvetica, Arial, Lucida Grande, sans-serif;
  font-weight: bold;
  text-rendering: optimizeLegibility;
  font-size: 1.3rem;
  line-height: 1.45rem;
}

.ocamldoc a {
  color: #db4d3f;
  text-decoration: none;
}
.ocamldoc a:hover {
  text-decoration: underline;
}
.ocamldoc pre {
  margin-bottom: 4px;
  font-family: monospace;
}
.ocamldoc pre.verbatim,
.ocamldoc pre.codepre {
}
.ocamldoc .indextable {
  border-collapse: collapse;
}
.ocamldoc .indextable td,
.ocamldoc .indextable th {
  min-width: 80px;
}

.ocamldoc .indextable td.module > a,
.ocamldoc .indextable td > .info {
  padding: 8px 16px;
}
.ocamldoc .indextable td > .info p {
  margin: 0;
}

.ocamldoc .indextable td.module {
  background-color: #eee;
  /*padding-left: 2px;
  padding-right: 2px;*/
}
.ocamldoc .indextable td.module a {
  color: #4e6272;
  text-decoration: none;
  display: block;
  width: 100%;
}
.ocamldoc .indextable td.module a:hover {
  text-decoration: underline;
  background-color: transparent;
}
.ocamldoc .deprecated {
  color: #888;
  font-style: italic;
}

.ocamldoc .info-deprecated {
  display: block;
  margin: 8px 0;
}

.ocamldoc .info-deprecated .warning {
  display: block;
  padding-bottom: 8px;
}

.ocamldoc .indextable tr td div.info {
  margin-left: 2px;
  margin-right: 2px;
}
.ocamldoc ul.indexlist {
  margin-left: 0;
  padding-left: 0;
}
.ocamldoc ul.indexlist li {
  list-style-type: none;
  margin: 0;
  padding-left: 0;
}
.ocamldoc ul.info-attributes {
  list-style: none;
  margin: 0;
  padding: 0;
}
.ocamldoc .info-desc {
  margin-bottom: 1em;
}
.ocamldoc hr {
  border: none;
  border-bottom: 1px solid #aaa;
  margin: 16px 0;
}
.ocamldoc .navbar {
  font-family: Helvetica Neue, Helvetica, Arial, Lucida Grande, sans-serif;
  padding-bottom: 16px;
}
sup.superscript {
  vertical-align: super;
  font-size: 0.7rem;
}