div {
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
  min-width: 0;
  align-items: stretch;
}

button,
input {
  background: none;
  border: none;
  outline: none;
}

pre {
  @media (max-width: 550px) {
    white-space: pre-wrap; /* Since CSS 2.1 */
    white-space: -moz-pre-wrap; /* Mozilla, since 1999 */
    white-space: -pre-wrap; /* Opera 4-6 */
    white-space: -o-pre-wrap; /* Opera 7 */
    word-wrap: break-word; /* Internet Explorer 5.5+ */
  }
}

body {
  @media (max-width: 550px) {
    overflow: hidden;
    width: 100%;
  }
}
