div {
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
  min-width: 0;
  align-items: stretch;
}

button, input {
  background: none;
  border: none;
  outline: none;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

li {
  margin: 0;
  padding: 0;
}